Source: satellite1-rpi-sdk
Section: misc
Priority: optional
Maintainer: Mischa <mischa.siekmann@futureproofhomes.net>
Standards-Version: 4.7.0
Rules-Requires-Root: no
Build-Depends:
  debhelper-compat (= 13),
  dh-python,
  python3-all,
  python3-setuptools,
  python3-setuptools-scm,
  python3-wheel
Homepage: https://github.com/futureproofhomes/Satellite1-RPi

Package: satellite1-rpi-sdk
Architecture: any
Depends: 
  ${misc:Depends},
  python3-venv, 
  python3-pip, 
  flashrom,
  libgpiod3
Description: Satellite1 hardware daemon and command-line client
 Installs Satellite1 hardware configuration, a persistent least-privilege
 daemon, and a command-line client that communicates with the daemon.
